* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body{
    background: #464646;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #24252a;
/*
    position: fixed;
    top: 0;*/
    width: 100%;
  }
  
  .logo {
    margin-right: auto;
    width: 400px;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-size: 25px;
    font-weight: 200;
    color: white;
    text-decoration: none;
  }
  
  .nav__links li {
    font-weight: 500;
    color: white;
    text-decoration: none;
    padding: 0px 20px;
  }

  .nav__links li:hover {
    color: #0cc000;
  }

  .nav__links li {
    transition: all 0.3s ease 0s;
  }

  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0cc000;
  }

  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #0cc000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #0cc000;
  }
  
  /* Mobile Nav */
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0cc000;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: white;
    cursor: pointer;
  }



  .portada{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }
  .button{
    display:block;
    position: relative;
  }
    
  .button a{
    text-decoration: none; 
    font-weight: bold;
    position: absolute;
    font-size: 20px;
    bottom: 1.5em;
    right: 4.5em;
    background-color:#0cc000;
    border-radius:1.5em;
    color:white;
    text-transform:uppercase;
    padding:1em 1.5em;
    opacity: 0.8;
  }

  .button a:hover{
    background-color: #0c1000;
    color: #0cc000;
    opacity: 1;
  }

/*----------SPONSORS----------*/
  .mainsponsor{
      background:#24252a;
      width:100%;
      height: 150px;
      display:flex;
      justify-content: space-around;
  } 
  .sponsor1 img{
    padding: 10px;
    width: 150px;
    margin: auto;
    display: block;
  }
  .sponsor2 img{
    padding: 15px;
    width: 350px;
    margin: auto;
    display: block;
  }
  .sponsor3 img{
    padding: 10px;
    width: 250px;
    margin: auto;
    display: block;
  }
  .sponsor4 img{
    padding: 10px;
    width: 150px;
    margin: auto;
    display: block;
  }
/*----------------------------*/
  .event{
    width: 70%;
    float: left;
    background: none;
  }
  .event img{
    padding: 20px;
    max-width: 100%;
    margin: auto;
    display: block;
  }


/*
  .notices{
    width: 100%;
    background: none;
  }
  .notices .notice img{
    float: left;
    width: 25%;
  }
  .notices .notice h1{
    color: white;
    font-size: 30px;
    float: left;
  }*/

  aside{
    width: 30%;
    padding: 20px;
    background: none;
    float: left;
  }

  .notice{
    background: #24252a;
    width: 75%;
    padding: 10px;
    margin: auto;
    display: block;
    border: 2px solid #0cc000;
  }

  .notice img{
    padding: 10px;
    width: 100%;
  }

  .notice h1, p{
    padding: 10px;
    color: white;
  }

  .clear{
    clear: both;
    height: 100px;
  }

  footer{
    width: 100%;
	  height: 400px;
	  background: #24252a;
    padding: 40px;
    float: left;
    position:relative;
    bottom: 0;
  }

  footer h1{
    color: white;
    text-align: center;
  }

  .social{
    display:flex;
    justify-content: space-around;
  }

  footer img{
    width: 150px;
  }

  img.grayscale{
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
  }
    
  img.grayscale:hover {
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
  }



/*----------CAMPENATOS----------*/ 
  .campeonatos{
    margin-top: 50PX;
    margin-bottom: 100px;
    padding: 20px;
    background: none;
    width:100%;
    display:flex;
    justify-content: space-around;
  }
  .campeonato img{
    padding: 10px;
    width: 500px;
    margin: auto;
    display: block;
  }
  .campeonato-small img{
    padding: 10px;
    width: 580px;
    margin: auto;
    display: block;
  }

/*----------------------------*/
/*----------CAT----------*/
.download{
  width: 100%;
  background: none;
  margin-top: 20px;
  margin-bottom: 20px;
  display:flex;
  justify-content: space-around;
}
.download a{
  text-decoration: none; 
  font-weight: bold;
  font-size: 30px;
  background-color:#0cc000;
  border-radius:1.5em;
  color:white;
  text-transform:uppercase;
  padding:1em 1.5em;
  opacity: 0.8;
  display: table-cell;
  align-items: center;
}
.download a:hover{
  background-color: #0c1000;
  color: #0cc000;
  opacity: 1;
}

.logo_campeonato{
  background: #1d1d20;
}

.logo_campeonato img{
  padding: 40px;
  width: 400px;
  margin: auto;
  display: block;
}


.nav_campeonato{
  background:#1d1d20;
  width:100%;
  height: 100px;
  display:flex;
  justify-content: space-around;
} 
.nav_campeonato_link{
margin: auto;
display: block;
}
.nav_campeonato_link a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}
.nav_campeonato_link a:hover{
  color: #0cc000;
}



.pdf{
  margin: auto;
  display: block;
  margin-top: 40px;
}

/*----------------------------*/



@media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  @media screen and (max-width: 800px){
    .nav__links,
    .cta {
      display: none;
    }
    .menu {
      display: initial;
    }



    .mainsponsor{
      height: 150px;
    }
    .sponsor1{
      visibility: hidden;
    }
    .sponsor2{
      width: 100%;
      position: absolute;
    }
    .sponsor3{
      visibility: hidden;
    }
    .sponsor4{
      visibility: hidden;
    }


    .campeonatos{
      margin: auto;
      display: block;
    }
    .campeonato{
      margin-bottom: 50px;
      width: 100%;
    }
    .campeonato-small{
      margin-bottom: 50px;
      width: 100%;
    }


    .pdf{
      width: 90%;
    }


    .button{
      bottom: 1em;
      right: 2em;
    }
    .download a{
      font-size: 25px;
    }



    .event{
      width: 100%;
    }
    .event img{
      width: 100%;
    }


    aside{
      width: 100%;
  }
}